<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>视频播放页面</title>
    <div th:include="common/header::public_header"></div>
    <link href="/static/css/plugins/videojs/video-js.css" rel="stylesheet">
    <style>
        .video-js .vjs-tech{
            position: relative;
        }
    </style>
</head>
<body  class="gray-bg">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <br>
        <ol class="breadcrumb">
            <li>
                <a href="/index">首页</a>
            </li>
            <li>
                <a th:href="'/admin/tech/student/course/list/1'">我的课程</a>
            </li>
            <li>
                <a th:href="'/admin/tech/student/courseVideo/videoList/1?courseId='+${courseId}">课程视频</a>
            </li>
            <li class="active">
                <strong>观看视频</strong>
            </li>
        </ol>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 th:text="${video.name}"></h5>
                </div>
                <div class="ibox-content">
                    <video id="my-video" class="video-js" controls preload="auto" data-setup="{}" style="width: 100%;height: 100%" >
                        <source th:src="${video.videoFile.path}" type="video/mp4">
                        <p class="vjs-no-js"> To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a> </p>
                    </video>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>视频信息</h5>
                </div>
                <div class="ibox-content">
                    <div id="detailInfoPanel" class="row" style="overflow-y: scroll;height: 650px;">
                        <div class="col-lg-5">
                            <img th:src="${video.headImgFile.path}" style="width: 100%" >
                        </div>
                        <div class="col-lg-7">
                            <h3 th:text="${video.name}"></h3>
                            <p th:text="${video.detailInfo}"></p>
                        </div>
                        <div class="col-lg-12" style="margin-top: 20px">
                            <h4>更多视频</h4>
                            <table class="table">
                                <tr th:each="videoBean,stat : ${allVideo}">
                                    <td th:text="${videoBean.name}"></td>
                                    <td >
                                        <small th:text="'当前进度：'+${videoBean.studentWatched.progress}+'%'"></small>
                                        <div class="progress progress-mini">
                                            <div th:style="'width: '+${videoBean.studentWatched.progress}+'%;'" class="progress-bar"></div>
                                        </div>
                                    </td>
                                    <td><a class="btn btn-sm btn-primary" th:href="@{'/admin/tech/student/courseVideo/view/' + ${videoBean.id}+'?courseId='+${courseId}}">立即学习</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--页面js-->
<div th:include="common/header::common_javascript">
</div>


<script src="/static/js/plugin/videojs/video.min.js"></script>
<script src="http://vjs.zencdn.net/5.19/lang/zh-CN.js"></script>
<script th:inline="javascript">
    let questionInterval;
    $(document).ready(function () {
        const videoQuestions = [[${video.questions}]];
        console.log(videoQuestions);

        var videoJs = videojs('my-video');
        videojs("my-video").ready(function(){
            setTimeout(()=>{

                let height = $(".vjs-tech").height();
                let playHeight = $(".vjs-control-bar").height();
                $(".vjs-control-bar").css("top",(height-playHeight));
                $("#detailInfoPanel").height(height);

            },50);

            let myPlayer = this;
            myPlayer.play();

            //恢复上一次观看进度
            const watched = [[${video.studentWatched}]];
            if(null != watched && watched.latestWatched > 0 ){
                videoQuestions.forEach(question=>{
                    if(question.alertTime < watched.latestWatched){
                        question.isQuest = true;
                    }
                });
                myPlayer.currentTime(watched.latestWatched);
            }

            //定时器，弹出具体时间的问题以及更新观看进度
            const getInterval = ()=>{
                return setInterval(()=>{
                    let playTime = myPlayer.currentTime();

                    //每隔30秒记录观看进度
                    let intPlayTime = parseInt(playTime)+1;
                    if(intPlayTime%15 ==0 && intPlayTime != parseInt(myPlayer.duration()+1)){
                        let progress = (intPlayTime/myPlayer.duration())*100;
                        updateProgress(progress,intPlayTime)
                    }
                    //没有播放完毕才去判断是否有问题
                    if(intPlayTime != parseInt(myPlayer.duration()+1)){
                        videoQuestions.forEach(question=>{
                            if(question.alertTime < playTime && !question.isQuest){
                                question.isQuest = true;
                                myPlayer.pause();
                                clearInterval(questionInterval);
                                alertQuestion(question);
                            }
                        });
                    }

                },1000);
            };


            const alertQuestion = question=>{
                swal({
                    title: ""+question.question,
                    type: "warning",
                    showCancelButton: true,
                    allowOutsideClick:false,
                    cancelButtonColor: "#DD6B55",
                    confirmButtonColor: "#18a689",
                    confirmButtonText: "正确",
                    cancelButtonText: "错误"
                }).then(()=>{ judgeAnswer(question,1); },()=>{ judgeAnswer(question,0); });
            };

            /**
             * 判断答案
             * @param question
             * @param answer
             */
            const judgeAnswer=(question,answer)=>{
                if(question.answer == answer){
                    swal({
                        title: "回答正确!",
                        text: "太棒了！！！",
                        type: "success"
                    }).then(()=>{
                        myPlayer.play();
                        questionInterval = getInterval();
                    });
                }
                else{
                    swal({
                        title: "回答错误!",
                        text: "不要灰心，再接再厉！！！",
                        type: "error"
                    }).then(()=>{
                        myPlayer.play();
                        questionInterval = getInterval();
                    });
                }
            };

            /**
             * 更新观看进度
             * @param progress
             */
            const updateProgress = (progress,watchedTime)=>{
                $.ajax({
                    url: '/admin/tech/student/courseVideo/updateWatchedProgress',
                    type: 'post',
                    data:{
                        videoId:[[${video.id}]],
                        progress,
                        latestWatched:watchedTime
                    },
                    success: function( response ) {
                        console.log("进度保存成功！当前进度");
                    }
                });
            };


            myPlayer.on("ended", ()=>{ updateProgress(100,0); });

            questionInterval = getInterval();

        });
    });




</script>
</body>
</html>