<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.softvan.mapper.system.SystemRoleMapper">
  <resultMap id="BaseResultMap" type="cn.com.softvan.entity.system.SystemRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
    <result column="available" jdbcType="BIT" property="available" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>

  <select id="findRoleIdByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    SELECT
        t1.id
    FROM
        t_system_role t1
    LEFT JOIN t_system_user_role t2 ON t1.id = t2.role_id
    WHERE
        t2.user_id = #{userId}
  </select>


</mapper>