<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据编辑页面</title>
    <div th:include="common/header::public_header"></div>
</head>
<body>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <br>
        <ol class="breadcrumb">
            <li>
                <a href="/index">首页</a>
            </li>
            <li>
                <a th:href="'/admin/tech/course/list/1'">课程管理</a>
            </li>
            <li>
                <a th:href="'/admin/tech/courseVideo/videoList/1?courseId='+${bean.courseId}">视频管理</a>
            </li>
            <li class="active">
                <strong>编辑</strong>
            </li>
        </ol>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">

            <!--表单容器-->
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">


                        <div class="form-group">
                            <label class="col-sm-2 control-label">视频标题图片以及视频文件（请上传视频标题图和视频文件，默认最后一个上传的视频和图片）</label>
                            <div class="col-sm-10">
                                <div th:include="common/upload_template::upload_template" th:with="uploadType='file',uploadKey='courseVideoFiless',uploadInfoId=${bean.id}"></div>
                            </div>
                        </div>


                        <form th:method="${bean.id == null?'post':'put'}" id="form_data" action="/admin/tech/courseVideo/saveUpdate" class="form-horizontal">
                            <input type="hidden" th:value="${bean.id}" id="bean_id" name="id">
                            <input type="hidden" th:value="${bean.courseId}" id="courseId" name="courseId">
                            <div id="dropzone_area"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" name="name" th:value="${bean.name}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="detailInfo" th:text="${bean.detailInfo}"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">简单判断题</label>
                                <div class="col-sm-10">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>问题</th>
                                            <th>是否正确</th>
                                            <th>视频播放时弹出时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="questions">
                                        <tr th:each="question,stat : ${bean.questions}">
                                            <td><input type="text" name="questionVal" placeholder="请输入问题" class="form-control" th:value="${question.question}"></td>
                                            <td>
                                                <input type="hidden" name="answerVal" th:value="${question.answer}">
                                                <button type="button" th:class="'btn btn-sm '+ ${question.answer == '1'?'btn-primary':'btn-default'} " onclick="changeOption(this,'right')">正确</button>
                                                <button type="button" th:class="'btn btn-sm '+ ${question.answer == '0'?'btn-danger':'btn-default'}" onclick="changeOption(this,'false')">错误</button>
                                            </td>
                                            <td><input type="number" name="alertTimeVal" placeholder="请输入播放时弹出时间（单位：秒）" class="form-control" th:value="${question.alertTime}"></td>
                                            <td><button class="btn btn-danger" >删除</button></td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="4">
                                                <button type="button" class="btn btn-success" onclick="addQuestion()" >新增问题</button>
                                            </td>
                                        </tr>
                                        </tfoot>

                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="submit" id="submit_btn" class="btn btn-success">提交</button>
                                    <a class="btn btn-info" th:href="'/admin/tech/courseVideo/videoList/1?courseId='+${bean.courseId}">返回</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!--表单容器结束-->

        </div>
    </div>
</div>


<!--页面js-->
<div th:include="common/header::common_javascript">
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });

    const addQuestion = ()=>{
        let str = `
            <tr>
                <td><input type="text" name="questionVal" placeholder="请输入问题" class="form-control"></td>
                <td>
                    <input type="hidden" name="answerVal" value="1">
                    <button type="button" class="btn btn-sm btn-primary" onclick="changeOption(this,'right')">正确</button>
                    <button type="button" class="btn btn-sm btn-default" onclick="changeOption(this,'false')">错误</button>
                </td>
                <td>
                    <input type="number" name="alertTimeVal" class="form-control" placeholder="请输入播放时弹出时间（单位：秒）" >
                </td>
                <td><button class="btn btn-danger" onclick="removeQuestion(this)" >删除</button></td>
            </tr>
        `;

        $("#questions").append(str);
    }

    const changeOption = (element,option)=>{
        if('right' == option){
            $(element).next().attr('class','btn btn-sm btn-default');
            $(element).attr('class','btn btn-sm btn-primary');
            $(element).siblings("input").val("1");
        }
        if('false' == option){
            $(element).prev().attr('class','btn btn-sm btn-default');
            $(element).attr('class','btn btn-sm btn-danger');
            $(element).siblings("input").val("0");
        }
    }

    const removeQuestion = element=>{
        $(element).parent().parent().remove();
    }


</script>
</body>
</html>