<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header::public_header">
    <meta charset="UTF-8">
    <title>页面模板</title>
</head>
<body>
<input type="hidden" id="courseId" th:value="${courseId}">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <br>
        <ol class="breadcrumb">
            <li>
                <a href="/index">首页</a>
            </li>
            <li>
                <a th:href="'/admin/tech/course/list/1'">课程管理</a>
            </li>
            <li class="active">
                <strong>视频管理</strong>
            </li>
        </ol>


    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">

            <div>
                <button class="btn btn-success" th:onclick="'location.href=\'/admin/tech/courseVideo/edit/0?courseId='+${courseId}+'\''"><i class="fa fa-plus"></i>&nbsp;新增视频</button>
                <p></p>
            </div>

            <table class="table table-bordered table-hover ">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                <tr  th:each="bean,stat : ${pageInfo.list}">
                    <td th:text="${bean.name}"></td>
                    <td >
                        <a th:href="@{'/admin/tech/courseVideo/edit/' + ${bean.id}+'?courseId='+${courseId}}" class="btn btn-info btn-sm" >编辑</a>
                        <a th:href="@{'/admin/tech/courseVideo/videoStudentWatchedList/' + ${bean.id}+'?courseId='+${courseId}}" class="btn btn-info btn-sm" >学生观看情况</a>
                        <button  class="btn btn-danger btn-sm" th:onclick="'deleteInfo(\''+'/admin/tech/courseVideo/' + ${bean.id} + '\')'">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="pull-right" th:include="common/pagination::pagination"
                 th:with="url='/admin/tech/courseVideo/videoList/',pages=${pageInfo.pageNum}, totalPages=${pageInfo.pages}, pageSize=${pageInfo.pageSize}, otherParam='&courseId='+${courseId}"> </div>

        </div>
    </div>
</div>

<input type="hidden" id="audit_hidden_message" th:value="${msg}">
<!--页面js-->
<div th:include="common/header::common_javascript">
</div>

<script>

    $(document).ready(()=>{

    });

    const publishWork = workId=>{
        $.ajax({
            url: '/admin/tech/courseWork/ajaxUpdate',
            type: 'PUT',
            data:{
                id:workId,
                state:1,
                courseId:$("#courseId").val()
            },
            success: function( response ) {
                location.reload();
            }
        });
    }
</script>

</body>
</html>