<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="common/header::public_header"></div>
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
</head>
<body >

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <br>
        <ol class="breadcrumb">
            <li>
                <a href="/index">首页</a>
            </li>
            <li>
                <a href="/admin/system/user/list/1">用户管理</a>
            </li>
            <li class="active">
                <strong>编辑</strong>
            </li>
        </ol>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">

            <!--表单容器-->
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">

                        <form th:method="${bean.id == null?'post':'put'}" id="form_data" action="/admin/system/user" class="form-horizontal">
                            <input type="hidden" th:value="${bean.id}" id="bean_id" name="id">

                            <div id="dropzone_area"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">角色</label>
                                <div class="col-sm-10">
                                    <div class="radio i-checks">
                                        <label><input type="radio" value="1" name="roles" th:checked="${null != bean.roles && bean.roles[0] == 1}" > 管理员</label>
                                    </div>
                                    <div class="radio i-checks">
                                        <label><input type="radio" value="3" name="roles" th:checked="${null == bean.roles || bean.roles[0] == 3}" > 学生</label>
                                    </div>
                                    <div class="radio i-checks">
                                        <label><input type="radio" value="2" name="roles" th:checked="${null != bean.roles && bean.roles[0] == 2}" > 教师</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">学号/工号</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="workid" name="workid" th:value="${bean.workid}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="bean_nickname" name="nickname"  th:value="${bean.nickname}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">年级</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="grade" name="grade"  th:value="${bean.grade}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">班级</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="clazz" name="clazz" th:value="${bean.clazz}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">专业</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="profession" name="profession"  th:value="${bean.profession}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">职称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="jobTitle" name="jobTitle" th:value="${bean.jobTitle}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">禁用</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="bean_locked" name="locked">
                                        <option value="0" th:selected="${bean.locked == '0'}">否</option>
                                        <option value="1" th:selected="${bean.locked == '1'}">是</option>
                                    </select>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="submit" id="submit_btn" class="btn btn-success">提交</button>
                                    <a class="btn btn-info" href="/admin/system/user/list/1">返回</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!--表单容器结束-->

        </div>
    </div>
</div>


<!--页面js-->
<div th:include="common/header::common_javascript">
</div>


<script src="https://cdn.bootcss.com/iCheck/1.0.2/icheck.min.js"></script>
<link href="https://cdn.bootcss.com/iCheck/1.0.2/skins/all.css" rel="stylesheet">
<script type="text/javascript">



</script>
</body>
</html>