<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.softvan.mapper.tech.CourseWorkStudentMapper">
  <resultMap id="BaseResultMap" type="cn.com.softvan.entity.tech.CourseWorkStudent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="work_id" jdbcType="INTEGER" property="workId" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="submit_file_id" jdbcType="INTEGER" property="submitFileId" />
    <result column="checked_file_id" jdbcType="INTEGER" property="checkedFileId" />
    <result column="date_submit" jdbcType="TIMESTAMP" property="dateSubmit" />
    <result column="date_checked" jdbcType="TIMESTAMP" property="dateChecked" />
    <result column="score" jdbcType="VARCHAR" property="score" />

    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>

  <select id="selectStudentWork" resultMap="BaseResultMap" parameterType="cn.com.softvan.entity.tech.CourseWorkStudent">
    select * from t_course_work_student where work_id = #{workId} and student_id = #{studentId}
  </select>

</mapper>